@import './var.css';

.chatContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    border: 1px solid var(--color-quaternary);
    border-radius: 20px;
    padding: 20px;
    margin-block: 20px;
}

.chat {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    overflow-y: auto;
    scrollbar-width: none; 
    border-radius: 10px;
}

.chat p {
    word-break: break-word;
}


.input {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    align-items: center;
}

.message-input {
    margin-top: 20px;
    background-color: #02111b;
    border-radius: 20px;
    height: 40px;
    padding: 15px;
    width: calc(100% - 50px);
    border: none;
    font-weight: lighter;
    color: var(--color-quaternary);
    border: 1px solid var(--color-quaternary);
    outline: none;
    caret-color: var(--color-quaternary);
    transition: 0.3s;
}

.message-input:focus {
    color: white;
    border: 1px solid white;
    transition: 0.3s;
}

#send {
    margin-top: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #02111b;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

#send:hover {
    background-color: var(--color-quaternary);
    transition: 0.3s;
}


#send img {
    width: 20px;
    height: 20px;
}

.loading {
    color: white;
    font-style: italic;
    margin-top: 10px;
}

.message {
    flex-shrink: 0;
    width: fit-content;
    max-width: 60%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
}

.message.sent {
    border-radius: 20px 20px 0 20px;
    background-color: var(--color-quinary);
    color: var(--color-primary);
    align-self: flex-end;
}

.message.received {
    border-radius: 20px 20px 20px 0;
    background-color:  var(--color-quaternary);
    color: var(--color-quinary);
    align-self: flex-start;
    font-weight: lighter;
}
